/* selector {property:value} */
/* nav {border:1px solid black;} */

/*font-family: 'Slabo 27px', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Sedgwick Ave Display', cursive; */
.container {
 width: 1280px;
 margin-left:auto;
 margin-right:auto;
}

img {
    display: block;
    margin: 50;
    height: auto;
    width: auto;
}
img.aboutpicture {
    float:left;
    display: block;
    margin: 50;
    height: auto%;
    width: auto%;
}

nav
  {font-family: 'Slabo 27px', serif;
    font-size: 12pt;
}

.inquiry
  {font-family: 'Slabo 27px', serif;
    font-size: 12pt;
}


h1 {
  color: black;
  font-size: 48pt;
  font-family: 'Amatic SC', cursive;
}

h2 {
  color: black;
  font-family: georgia;
}

h3 {
  color: black;
  font-size: 32pt;
  font-family: 'Amatic SC', cursive;
}

h4 {
    text-align: center;
    font-size: 48pt;
    background-color: transparent;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Amatic SC', cursive;
}

.blurb {
  float:right;
  font-size: 14pt;
  font-family: 'Slabo 27px', serif;
}
/*p.mobile {
    font-size: 12pt;
    font-family: 'Slabo 27px', serif;
  }*/
}


h5 {
  color: black;
  font-family: 'Slabo 27px', serif;
}

.thumbnail {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: auto;
  height: auto;
}

.thumbnail img.landscape {
  width: auto;
  height: auto;
  overflow: hidden;
}

/* Portrait and Landscape */
@media only screen and (max-width:1280px) {

    .container {
     width: 1280px;
     margin-left:auto;
     margin-right:auto;
    }

    .thumbnail {
      position: relative;
      width: 300px;
      height: 200px;
      overflow: hidden;
    }
    .thumbnail img.landscape {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }

    .thumbnail img.portrait {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
    .thumbnail img.portrait {
      width: auto;
      height: auto;
      max-height: auto !important;
      max-width: auto !important;
      overflow: hidden !important;
    }

    .thumbnail img.landscape {
      width: auto !important;
      height: auto !important;
      max-height: auto !important;
      max-width: auto !important;
      overflow: hidden !important;
    }

    .aboutpicture{
      width: 50%;
      height: auto;
      margin-left:auto;
      margin-right:auto;
      padding-right: 10px;


}

@media only screen and (max-width:736px) {
  .container {
   width: 736px;
   margin-left:auto;
   margin-right:auto;
  }

  .aboutpicture{
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 20px;

  }

  .thumbnail {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  .thumbnail img.landscape {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .thumbnail img.portrait {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
    max-height: 300px !important;
    max-width: 300px !important;
    overflow: hidden !important;
  }

  .thumbnail img.landscape {
    width: auto !important;
    height: auto !important;
    max-height: 300px !important;
    max-width: 300px !important;
    overflow: hidden !important;
  }

}

}
