/* selector {property:value} */
/* nav {border:1px solid black;} */

nav {font-family: georgia;}

h1 {
  color: black;
  font-family: georgia;
}

h2 {
  color: black;
  font-family: georgia;
}

h3 {
  color: black;
  font-family: georgia;
}

h5 {
  color: black;
  font-family: georgia;
}

.thumbnail {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  position: absolute;
  left: 50%;
  top: 100%;
  height: auto;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail img.landscape {
  width: auto;
  height: auto;
  overflow: hidden;
}

#indexpage .navigationhome li:nth-child(1) {background-color: yellow;}
#portfoliopage .navigationportfolio li:nth-child(2) {background-color: yellow;}
#aboutpage .navigationabout li:nth-child(3) {background-color: yellow;}
